<a href="./celebrities/create">Create a celebrity!</a>
<br>
<br>
<br>
<a href="./movies/create">Create a movie!</a>
<br>
<br>
<br>
<a href="./movies/">Movies</a>
<br>
<br>
<br>
<a href="./celebrities/">Celebrities</a>
